{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            
            
            {% comment %} <div class="col-2">
                <ul class="sidebar-list">
                    <li><a onclick="changeImage('/static/GestionEtab/GR{{groupe}}.png')">TOTAL per week</a></li>
                    <li><a onclick="changeImage('/static/GestionEtab/GR{{groupe}}P.png')">by gender</a></li>
                    
                </ul>
            </div> {% endcomment %}
            
            {% comment %} <script>
                window.addEventListener("mousemove", function(event) {
                    var cursorX = event.clientX;
                    var screenWidth = window.innerWidth;
                    var threshold = 200;
            
                    if (cursorX <= threshold && cursorX >= 0) {
                        document.querySelector(".col-2").classList.add("active");
                    } else {
                        document.querySelector(".col-2").classList.remove("active");
                    }
                });
            </script> {% endcomment %}
            <div >
                <h1>Dashboard</h1>
                {% load static %}
                <div style="display: grid; grid-template-rows: 1fr auto;">
                    <div style="display: grid; grid-template-columns: 1fr 1fr; ">
                        <img id="chartImage1" src="{% static chartP %}" alt="My image" style=" height:80%; margin-left:-10%;">
                        <img id="chartImage2" src="{% static chart %}" alt="My image" style=" height:80%; margin-left:-10%;">
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <img id="chartImage3" src="{% static chartG %}" alt="My image"  style=" height:80%; margin-left:-10%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: -200px;
            width: 200px;
            height: 100%;
            background-color: #f5f5f5;
            transition: left 0.3s ease-in-out;
        }
        
        .sidebar.active {
            left: 0;
        }
        
        .toggle-sidebar-btn {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1000;
        }
    </style> {% endcomment %}
{% comment %}     
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("active");
        }
        
        function changeImage(imageSrc) {
            var chartImage = document.getElementById("chartImage");
            chartImage.src = imageSrc;
        }
    </script> {% endcomment %}
{% endblock %}
